<div class="container">
    <div class="row">
        <div class="col-md-8">
            <img src="../assets/img/burger.jpg" alt="Burger pic">
            <h1 class="header">Eat-Da-Burger!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Burgers List!</h2>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger devoured=true}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Devoured Burgers!</h2>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger devoured=false}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <form class="create-form">
                <div class="form-group">
                    <label for="burger"></label>
                    <input type="text" id="burger" name="name">
                </div>
                <input class="submitBtn btn-primary" type="submit" value="Submit">
            </form>
            <br>
            <p class="addBurger">Add a new burger and click submit!</p>
        </div>
    </div>
</div>