* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: orange;
}
img {
    margin-top: 50px;
    margin-left: 42%;
    height: 150px;
    width: 200px;
}
.header {
    margin-left: 38%;
    margin-bottom: 5px;
    color: red;
    align-content: center;
}
input {
    margin-left: 42%;
    height: 80px;
    width: 200px;
    background-color: white;
}
.submitBtn {
    width: 70px;
    height: 30px;
    margin-left: 52%;
}
.addBurger {
    margin-left: 42%;
}
/* .delete-burger {
    width: 70px;
    height: 60px;
} */
